---
title: 'About'
description: "Learn about Jairak Thai Massage in Wakefield. Our Thai-born therapist brings genuine expertise and a passion for wellness to every personalised treatment."
preloadImg: '/assets/images/banners/banner.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about/" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner.webp">
        <img decoding="async" src="/assets/images/banners/banner.jpg" alt="oil back massage" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/deep-tissue-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/deep-tissue.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/deep-tissue.jpg" alt="deep tissue massage" width="630" height="775">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">About Jairak Thai Massage</h2>
            <p class="cs-text">
                Welcome to Jairak Thai Massage, where we bring the authentic healing art of Thai massage to the heart of Wakefield. Our story begins with our founder, Nipapon Eades, who hails from Khon Kaen province in Thailand.
            </p>
            <p class="cs-text">
                Nipapon's journey in Thai massage is rooted in a deep passion for healing and wellness. With a diploma in Thai massage, she combines traditional techniques with a modern understanding of body mechanics, creating a unique and effective approach to massage therapy.
            </p>
            <p class="cs-text">
                In 2012, Nipapon made the bold decision to move to the UK, carrying with her the dream of sharing the benefits of Thai massage with a new community. This dream became a reality on September 1, 2024, when Jairak Thai Massage was established, quickly becoming a beacon of authentic Thai wellness in Wakefield.
            </p>
            <p class="cs-text">
                At Jairak Thai Massage, our mission is twofold: to help people find relief from long-term injuries and chronic pain, and to introduce the Wakefield community to the numerous benefits of authentic Thai massage. We strive to create a serene and welcoming environment where our clients can experience profound relaxation, rejuvenation, and healing.
            </p>
            <p class="cs-text">
                As the sole therapist at Jairak, Nipapon brings a personal touch to every session. Her approach combines traditional Thai techniques with a deep understanding of modern wellness needs, particularly focusing on providing relief for those suffering from chronic injuries.
            </p>
            <p class="cs-text">
                When you visit Jairak Thai Massage, you can expect to be greeted with warm Thai hospitality, treated with the utmost care and respect, and leave feeling refreshed, renewed, and balanced. Our specialised treatments, including Thai Hot Oil Massage, Aromatherapy Massage, and Deep Tissue Thai Massage, are designed to cater to a variety of needs and preferences.
            </p>
            <p class="cs-text">
                Experience the healing power of authentic Thai massage at Jairak. Whether you're seeking pain relief, stress reduction, or simply a moment of tranquillity, we're here to guide you on your wellness journey.
            </p>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}