---
title: 'Massages'
description: 'Explore our range of Thai-inspired massage treatments at Jairak in Wakefield. From relaxing to therapeutic, find the perfect massage for your needs.'
preloadImg: '/assets/images/banners/banner.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/waxing.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massages/" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner.webp">
        <img decoding="async" src="/assets/images/banners/banner.jpg" alt="oil back massage" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massages</span>
            <h2 class="cs-title">Unwind with Our Signature Massage Treatments</h2>
            <p class="cs-text">
                Discover our popular massage therapies, each designed to provide unique benefits. From Aromatherapy to Thai Hot Oil Massage we offer treatments to suit your individual needs and preferences.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">30 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Hot Oil Massage</span>
                        <span class="cs-price">£30</span>
                    </h3>
                    <p class="cs-menu-text">
                        Relaxing technique combining traditional Thai stretches with warm oil to soothe muscles, improve flexibility, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Aromatherapy Massage</span>
                        <span class="cs-price">£30</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage using essential oils to enhance mood, reduce stress, and promote overall well-being through therapeutic scents.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Thai Massage</span>
                        <span class="cs-price">£35</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense therapy targeting deep muscle layers, combining Thai techniques with focused pressure to relieve chronic tension and pain.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/oil-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/oil.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/oil.jpg" alt="thai oil massage" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">45 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Hot Oil Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Relaxing technique combining traditional Thai stretches with warm oil to soothe muscles, improve flexibility, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Aromatherapy Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage using essential oils to enhance mood, reduce stress, and promote overall well-being through therapeutic scents.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Thai Massage</span>
                        <span class="cs-price">£45</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense therapy targeting deep muscle layers, combining Thai techniques with focused pressure to relieve chronic tension and pain.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
            <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.jpg" alt="deep tissue" width="521" height="640">
        </picture>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">60 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Hot Oil Massage</span>
                        <span class="cs-price">£45</span>
                    </h3>
                    <p class="cs-menu-text">
                        Relaxing technique combining traditional Thai stretches with warm oil to soothe muscles, improve flexibility, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Aromatherapy Massage</span>
                        <span class="cs-price">£45</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage using essential oils to enhance mood, reduce stress, and promote overall well-being through therapeutic scents.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Thai Massage</span>
                        <span class="cs-price">£45</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense therapy targeting deep muscle layers, combining Thai techniques with focused pressure to relieve chronic tension and pain.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/services/aromatherapy-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/services/aromatherapy.webp">
            <img loading="lazy" decoding="async" src="/assets/images/services/aromatherapy.jpg" alt="aromatherapy massage" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">90 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Hot Oil Massage</span>
                        <span class="cs-price">£70</span>
                    </h3>
                    <p class="cs-menu-text">
                        Relaxing technique combining traditional Thai stretches with warm oil to soothe muscles, improve flexibility, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Aromatherapy Massage</span>
                        <span class="cs-price">£70</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage using essential oils to enhance mood, reduce stress, and promote overall well-being through therapeutic scents.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Thai Massage</span>
                        <span class="cs-price">£70</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense therapy targeting deep muscle layers, combining Thai techniques with focused pressure to relieve chronic tension and pain.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/deep-tissue-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/deep-tissue.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/deep-tissue.jpg" alt="deep tissue" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">120 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Hot Oil Massage</span>
                        <span class="cs-price">£100</span>
                    </h3>
                    <p class="cs-menu-text">
                        Relaxing technique combining traditional Thai stretches with warm oil to soothe muscles, improve flexibility, and promote deep relaxation.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Aromatherapy Massage</span>
                        <span class="cs-price">£100</span>
                    </h3>
                    <p class="cs-menu-text">
                        Gentle massage using essential oils to enhance mood, reduce stress, and promote overall well-being through therapeutic scents.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Thai Massage</span>
                        <span class="cs-price">£105</span>
                    </h3>
                    <p class="cs-menu-text">
                        Intense therapy targeting deep muscle layers, combining Thai techniques with focused pressure to relieve chronic tension and pain.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/services/oil-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/services/oil.webp">
            <img loading="lazy" decoding="async" src="/assets/images/services/oil.jpg" alt="oil massage" width="521" height="640">
        </picture>
    </div>
</section>


    {% include 'components/cta.html' %}

{% endblock %}