---
title: 'Massages'
description: "Explore our range of professional massage treatments in Ross-on-Wye. From Thai to aromatherapy, find the perfect massage therapy for your needs at Somjai Thai Massage."
preloadImg: '/assets/images/banners/banner.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/waxing.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">Massages</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/massages/" class="cs-link cs-active">Massages</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner.webp">
        <img decoding="async" src="/assets/images/banners/banner.jpg" alt="oil back massage" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massages</span>
            <h2 class="cs-title">Unwind with Our Signature Massage Treatments</h2>
            <p class="cs-text">
                Discover our comprehensive range of massage therapies. Whether you are seeking stress relief, recovery or simply relaxation, we provide treatments tailored to your individual needs.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">30 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Back, Neck, Head and Shoulders</span>
                        <span class="cs-price">£25</span>
                    </h3>
                    <p class="cs-menu-text">
                        A focused massage targeting common areas of tension, perfect for quick stress relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Foot Massage</span>
                        <span class="cs-price">£25</span>
                    </h3>
                    <p class="cs-menu-text">
                        A soothing treatment focusing on pressure points in the feet. Perfect for relieving tired, achy feet and improving circulation.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/services/foot-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
            <img loading="lazy" decoding="async" src="/assets/images/services/foot.jpg" alt="foot massage" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">45 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Back, Neck, Head and Shoulders</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        A focused massage targeting common areas of tension, perfect for quick stress relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Foot Massage</span>
                        <span class="cs-price">£40</span>
                    </h3>
                    <p class="cs-menu-text">
                        A soothing treatment focusing on pressure points in the feet. Perfect for relieving tired, achy feet and improving circulation.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
            <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.jpg" alt="deep tissue" width="521" height="640">
        </picture>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">60 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£50</span>
                    </h3>
                    <p class="cs-menu-text">
                        A dynamic therapy combining acupressure, stretching, and assisted yoga postures. Performed on a mat, no oil used.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£50</span>
                    </h3>
                    <p class="cs-menu-text">
                        Similar to traditional Thai massage but with the addition of oils, providing a more relaxing experience. Performed on a massage table.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£50</span>
                    </h3>
                    <p class="cs-menu-text">
                        A gentle, flowing massage using long strokes, kneading, and circular movements to promote relaxation and stress relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Aromatherapy Massage</span>
                        <span class="cs-price">£50</span>
                    </h3>
                    <p class="cs-menu-text">
                        A therapeutic massage using essential oils (like lavender or frankincense) to enhance relaxation and promote healing.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£50</span>
                    </h3>
                    <p class="cs-menu-text">
                        Targets deeper layers of muscle and connective tissue to alleviate chronic tension and pain. More intense pressure is applied.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Back, Neck, Head and Shoulders</span>
                        <span class="cs-price">£50</span>
                    </h3>
                    <p class="cs-menu-text">
                        A focused massage targeting common areas of tension, perfect for quick stress relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Foot Massage</span>
                        <span class="cs-price">£50</span>
                    </h3>
                    <p class="cs-menu-text">
                        A soothing treatment focusing on pressure points in the feet. Perfect for relieving tired, achy feet and improving circulation.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/aromatherapy-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/aromatherapy.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/aromatherapy.jpg" alt="aromatherapy massage" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">90 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£70</span>
                    </h3>
                    <p class="cs-menu-text">
                        A dynamic therapy combining acupressure, stretching, and assisted yoga postures. Performed on a mat, no oil used.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£70</span>
                    </h3>
                    <p class="cs-menu-text">
                        Similar to traditional Thai massage but with the addition of oils, providing a more relaxing experience. Performed on a massage table.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£70</span>
                    </h3>
                    <p class="cs-menu-text">
                        A gentle, flowing massage using long strokes, kneading, and circular movements to promote relaxation and stress relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Aromatherapy Massage</span>
                        <span class="cs-price">£70</span>
                    </h3>
                    <p class="cs-menu-text">
                        A therapeutic massage using essential oils (like lavender or frankincense) to enhance relaxation and promote healing.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£70</span>
                    </h3>
                    <p class="cs-menu-text">
                        Targets deeper layers of muscle and connective tissue to alleviate chronic tension and pain. More intense pressure is applied.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/thai-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/thai.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/thai.jpg" alt="thai tissue" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">120 Minute Massages</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Traditional Thai Massage</span>
                        <span class="cs-price">£90</span>
                    </h3>
                    <p class="cs-menu-text">
                        A dynamic therapy combining acupressure, stretching, and assisted yoga postures. Performed on a mat, no oil used.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Thai Oil Massage</span>
                        <span class="cs-price">£90</span>
                    </h3>
                    <p class="cs-menu-text">
                        Similar to traditional Thai massage but with the addition of oils, providing a more relaxing experience. Performed on a massage table.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Swedish Massage</span>
                        <span class="cs-price">£90</span>
                    </h3>
                    <p class="cs-menu-text">
                        A gentle, flowing massage using long strokes, kneading, and circular movements to promote relaxation and stress relief.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Aromatherapy Massage</span>
                        <span class="cs-price">£90</span>
                    </h3>
                    <p class="cs-menu-text">
                        A therapeutic massage using essential oils (like lavender or frankincense) to enhance relaxation and promote healing.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Deep Tissue Massage</span>
                        <span class="cs-price">£90</span>
                    </h3>
                    <p class="cs-menu-text">
                        Targets deeper layers of muscle and connective tissue to alleviate chronic tension and pain. More intense pressure is applied.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/services/oil-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/services/oil.webp">
            <img loading="lazy" decoding="async" src="/assets/images/services/oil.jpg" alt="oil massage" width="521" height="640">
        </picture>
    </div>
</section>


    {% include 'components/cta.html' %}

{% endblock %}