---
title: 'Massage'
description: "Experience expert massage therapy in Ross-on-Wye. From traditional Thai to aromatherapy, discover professional treatments tailored to your wellbeing at Somjai Thai Massage."
preloadImg: '/assets/images/hero/hero.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1160">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Experience Expert Massage Therapy in Ross-on-Wye</h1>
            <p class="cs-text">
                Discover deep relaxation and rejuvenation at Somjai Thai Massage. Our skilled therapist blends time-honoured Thai massage techniques with western therapies in Ross-on-Wye, offering a peaceful haven where ancient healing traditions meet modern wellness.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule An Appointment</a>
        </div>
    </div>

    <!-- Background Image, also BG Image is set in CSS at 1600px wide for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero/hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero/hero.webp">
        <img decoding="async" src="/assets/images/hero/hero.jpg" alt="garage" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                
                                

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1630">
    <div class="cs-container">
        <div class="cs-flex">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/side/why-us-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/side/why-us.webp">
                <img loading="lazy" decoding="async" src="/assets/images/side/why-us.jpg" alt="herbal compress" width="608" height="400">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Why Choose Somjai Thai Massage?</h2>
                <p class="cs-text">
                    At Somjai Thai Massage, your wellbeing is our priority. We combine traditional Thai massage wisdom with modern therapeutic techniques to deliver exceptional treatments tailored to each client's needs.
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/woman.svg" alt="icon" width="24" height="24">
                    </picture>
                    Dedicated Personal Care
                </h3>
                <p class="cs-item-text">
                    Experience consistent, attentive treatment from our expert therapist who takes time to understand your unique needs or goals.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/temple.svg" alt="icon" width="24" height="24">
                    </picture>
                    Thai Authenticity
                </h3>
                <p class="cs-item-text">
                    Our owner brings the true essence of Thai hospitality and service to Ross-on-Wye, offering you a genuine experience rooted in centuries-old healing practices.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/graduation.svg" alt="icon" width="24" height="24">
                    </picture>
                    Professional Excellence
                </h3>
                <p class="cs-item-text">
                    Trust in our commitment to continuous learning and development, ensuring you receive the most effective and up-to-date therapeutic techniques.
                </p>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/thai-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/thai.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/thai.jpg" alt="thai massage" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Thai Massage</h2>
            <p class="cs-text">
                Traditional Thai massage is a centuries-old healing practice that combines acupressure, gentle stretching, and rhythmic compression. This unique therapy is performed fully clothed on a comfortable mat or bed, where our therapist will guide you through a series of yoga-like stretches whilst applying precise pressure to energy (Sen) lines throughout your body.
            </p>
            <p class="cs-text">
                Experience improved flexibility, reduced muscle tension, and enhanced energy flow throughout your body. This deeply relaxing yet energising treatment is particularly effective for those seeking relief from back pain, joint stiffness, headaches, and stress-related tension, helping to restore both physical and mental balance.
            </p>
            <a href="/thai-massage/" class="cs-button-solid" aria-label="all massages">Thai Massage</a>                                
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-879">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Popular</span>
            <h2 class="cs-title">Explore Somjai Thai Massage Services</h2>
            <p class="cs-text">
                Discover our comprehensive range of massage therapies. Whether you are seeking stress relief, recovery or simply relaxation, we provide treatments tailored to your individual needs.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/massages/" class="cs-link">
                    <h3 class="cs-h3">Swedish Massage</h3>
                    <p class="cs-item-p">
                        A gentle, flowing massage using long strokes, kneading, and circular movements to promote relaxation and stress relief.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="assets/images/services/oil.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="assets/images/services/oil.webp">
                        <img loading="lazy" decoding="async" src="assets/images/services/oil.jpg" alt="swedish massage" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/massages/" class="cs-link">
                    <h3 class="cs-h3">Foot Massage</h3>
                    <p class="cs-item-p">
                        A soothing treatment focusing on pressure points in the feet. Perfect for relieving tired, achy feet and improving circulation.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/services/foot-m.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/services/foot.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/foot.jpg" alt="foot massage" width="1280" height="568">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/massages/" class="cs-link">
                    <h3 class="cs-h3">Deep Tissue Massage</h3>
                    <p class="cs-item-p">
                        Targets deeper layers of muscle and connective tissue to alleviate chronic tension and pain. More intense pressure is applied.
                    </p>
                    <!--Backgorund Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/services/deep-tissue-m.webp">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/services/deep-tissue.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/services/deep-tissue.jpg" alt="deep tissue massage" width="1280" height="568">
                    </picture>
                </a>
            </li>
        </ul>
        <a href="/massages/" class="cs-button-solid">All Massages</a>
    </div>
</section>   
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-r-870">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/side/aromatherapy-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/side/aromatherapy.webp">
            <img loading="lazy" decoding="async" src="/assets/images/side/aromatherapy.jpg" alt="aromatherapy massage" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Aromatherapy Massage</h2>
            <p class="cs-text">
                Aromatherapy massage combines the gentle, flowing strokes of Swedish massage with the therapeutic properties of pure essential oils. Your treatment begins with a personalised blend of essential oils, chosen to address your specific needs—whether that's to reduce stress, boost energy, or promote better sleep.
            </p>
            <p class="cs-text">
                This deeply relaxing massage uses light to medium pressure to enhance your body's natural healing processes while the carefully selected essential oils work through your sense of smell to affect mood and wellbeing. Perfect for those seeking relief from anxiety, emotional stress, or simply wanting to indulge in a luxuriously restorative experience.
            </p>
            <a href="/aromatherapy/" class="cs-button-solid">Aromatherapy Massage</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1109">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FAQ’s</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/banners/faq-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/banners/faq.webp">
                <img loading="lazy" decoding="async" src="/assets/images/banners/faq.jpg" alt="lotus flower and towels" width="522" height="400">
            </picture>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your opening hours?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We are open 7 days a week from 10AM to 8.30PM. Last booking is 8PM.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I need to make an appointment, or do you accept walk-ins?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        While we do accept walk-ins subject to availability, we highly recommend making an appointment to ensure your preferred time slot and treatment.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long are the massage sessions?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We offer various session lengths - 30, 45, 60, 90, or 120 minutes. Choose based on your needs and schedule.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you accept credit cards?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        No, we currently accept cash or bank transfers.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What if I have specific health concerns?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Please inform your therapist of any health concerns, injuries, or medical conditions before your massage. Our therapists can adapt techniques to ensure a safe experience.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<!--
    <section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Clients Say</h2>
            <p class="cs-text">
                At Jairak Thai Massage, your experience and satisfaction are our top priorities. We're proud to have helped many clients on their journey to wellness and relaxation. Here's what some of our valued customers have to say about their time with us.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/gold-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Amazing!</h3>
                <p class="cs-item-text">
                    1st review
                </p>
                <span class="cs-name">Saz K</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/svgs/gold-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Lovely Lady!</h3>
                <p class="cs-item-text">
                    2nd review
                </p>
                <span class="cs-name">Joanne Allot</span>
            </li>
        </ul>
        <a href="https://g.page/r/CcAPg8vcm9ErEBM/review" target="_blank" rel="noopener" class="cs-button-solid">Leave A Review</a>
    </div>
</section>
-->               


<script>const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
    for (const item of faqItems) {
        const onClick = () => {
        item.classList.toggle('active')
    }
    item.addEventListener('click', onClick)
    }
</script>                 

    {% include 'components/cta.html' %}
{% endblock %}